div.browsing-instructions {
  margin: 1em auto;
  width: 75%;
}

img.browsing-item-image {
  width: 80%;
  border: 0.1em solid black;
}

div.browsing-item-details {
  margin: 1em;
  font-weight: bold;
}

a {
  color: black;
}

.decision-button {
  display: inline-block;
  width: 30%;
  margin: 0 1em;
  padding: .5em 0;
  /* padding: 15px 25px; */
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  border: none;
  border-radius: .5em;
  box-shadow: 0 .25em #999;
}

.decision-button:active {
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}

.like-button {
  background-color: #4CAF50;
}

.like-button:hover {
  background-color: #3e8e41
}

.nope-button {
  background-color: #DC143C;
}

.nope-button:hover {
  background-color: #B22222;
}
