div.browsing-instructions {
  margin: 1em auto;
  width: 75%;
}

div.browsing-button-container {
  margin: 1em auto;

}

.like-button {
  background-color: #4CAF50;  
}

.like-button:hover {
  background-color: #3e8e41
}

.nope-button {
  background-color: #DC143C;
}

.nope-button:hover {
  background-color: #B22222;
}

.finished-browsing-display {
  margin: 1em auto;
  font-size: 2em;
  font-weight: bold;
  width: 80%;
}
