.app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  /* this sets the ems; works with media query below and viewport meta tag in index.html */
}

@media (min-width: 900px) {
  body {
    font-size: 16px;
  }

  .app {
    width: 40%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }

  .app {
    width: 60%;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .app {
    width: 80%;
  }
}

div.logo-header-container {

}

div.logo-header {
  font-size: 2.2em;
  width: 5.1em;
  padding: 0.1em 0.2em;
  margin: 0.5em 0 0.5em 0.5em;
  font-weight: bold;
  text-align: left;
  color: #FFDD1F;
  background-color: #3484F2;
}

img.logo-header {
  width: 50%;
}

div.divider {
  border: 0.1em solid grey;
  background-color: grey;
  width: 90%;
  margin: 0 auto;
}

.large-text {
  margin: 1em;
  font-size: 2em;
  font-weight: bold
}

div.home-logo {
  margin: 1em auto;
  font-size: 3em;
  width: 5.1em;
  padding: 0.1em 0.2em;
  font-weight: bold;
  color: #FFDD1F;
  background-color: #3484F2;
}

.loader {
  margin: 1em auto;
  padding: 1em;
  border: 1em solid grey;
  border-top: 1em solid black;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer {
  height: 2em;
}

a {
  color: black;
}

.action-button {
  display: inline-block;
  width: 30%;
  margin: 0 1em;
  padding: .5em 0;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  border: none;
  border-radius: .5em;
  box-shadow: 0 .25em #999;
}

.action-button:active {
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}
