.app {
  text-align: center;
  width: 100%;
}

div.logo-header {
  padding: 1em;
  text-align: left;
}

img.logo-header {
  width: 50%;
}

div.divider {
  border: 0.1em solid grey;
  background-color: grey;
  width: 80%;
  margin: 0 auto;
}
