input {
  margin: 1em auto;
  border: 0.1em black solid;
  text-align: center;
  width: 80%;
  height: 2em;
}

input.submit-button {
  width: 50%;
}

.error {
  border: .1em solid red;
  margin: 0.5em;
}
