input {
  margin: 1em auto;
  border: 0.1em black solid;
  text-align: center;
  width: 80%;
  height: 2em;
}

input.submit-button {
  width: 50%;
  font-weight: bold;
  color: #FFDD1F;
  background-color: #3484F2;
  font-size: 1em;
  margin: 1em auto;
}

.account-status-header {
  width: 35%;
  float: right;
  font-weight: bold;
}

.not-signed-in-link-header {
  width: 5em;
  float: right;
  margin-right: 0.5em;
}

.sign-out-link-header {
  float: right;
  margin-right: 0.5em;
}

#sign-out-button-header {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
